@model Schooldb.Models.Teacher

@{
    ViewBag.Title = "Update";
}

<h2>Update a Teacher</h2>

<form method="POST" action="/Teacher/Edit/@Model.TeacherId">
    <div>

        <label for="TeacherFname">First name:</label>

        <input type="text" name="TeacherFname" value="@Model.TeacherFname" />

    </div>

    <div>

        <label for="TeacherLname">Last name:</label>

        <input type="text" name="TeacherLname" value="@Model.TeacherLname" />

    </div>

    <div>

        <label for="TeacherEmployeeNumber">Employee number:</label>

        <input type="text" name="TeacherEmployeeNumber" value="@Model.TeacherEmployeeNumber" />

    </div>

    <div>

        <label for="TeacherHireDate">Hire Date:</label>

        <input type="datetime" name="TeacherHireDate" value="@Model.TeacherHiredate" />

    </div>

    <div>

        <label for="TeacherSalary">Salary:</label>

        <input type="number" step="0.01" name="TeacherSalary" value="@Model.TeacherSalary" />

    </div>

    <div>

        <input type="submit" color="green" value="Update Teacher!" />

    </div>

</form>